/*defult eigenschappen voor alle paginas*/
html, body{
  font-family: Arial;
  color: #FFFFFF;
  background-color: #ECECEC;
  background-repeat: repeat;
  padding: 0 20px;
}

/*alle a-tags in de html worden wit*/
a{
  color: #FFFFFF;
}

 /*begin vorm van navigatie in alle html paginas*/
nav{
  background: #ECECEC;
  display: flex;
  height: 80px;
  align-items: center;
  justify-content: space-between;
}
/*logo*/
nav a img{
  width: 150px;
  height: 50px;
}
/*unorderd list*/
nav ul{
  display: flex;
  width: 50%;
}
nav ul li {
  display: flex;
  width: 40%;
}
nav ul li a{
  font-size: 23px;
  text-decoration: none;
  transition: all 500ms ease;
}
/*de achtergrond wordt verandert als je op a hovert*/
nav ul li a:hover{
  background-color: #5C5C5C;
  transform: scale(2);
}
/*de achtergrond wordt "active" als je op a klikt*/
nav ul li a.active{
  background-color: #5C5C5C;
}
